<div class="row">
  <div class="col s4 operation-day">

<!--    <ul class="collapsible">-->
<!--      <li>-->
<!--        <div class="collapsible-header"><i class="material-icons">schedule</i>ROOM A101</div>-->
<!--        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="collapsible-header"><i class="material-icons">schedule</i>ROOM A102</div>-->
<!--        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="collapsible-header"><i class="material-icons">schedule</i>ROOM A103</div>-->
<!--        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="collapsible-header"><i class="material-icons">schedule</i>ROOM A104</div>-->
<!--        <div class="collapsible-body">-->
<!--          <ul class="collapsible">-->
<!--            <li>-->
<!--              <div class="collapsible-header"><i class="material-icons">person</i>Kovalchuk V.A.</div>-->
<!--              <div class="collapsible-body">-->
<!--                <div>Duration: 3 — 3.5h</div>-->
<!--                <div>Starts at: 9.00</div>-->
<!--                <div>Ends at:12.30</div>-->
<!--                <a class="waves-effect waves-light btn-small"><i class="material-icons right">info</i>Analysis</a>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li>-->
<!--              <div class="collapsible-header"><i class="material-icons">person</i>Miron L.V.</div>-->
<!--              <div class="collapsible-body">-->
<!--                <div>Duration: 1 — 1.5h</div>-->
<!--                <div>Starts at: 12.30</div>-->
<!--                <div>Ends at:14.00</div>-->
<!--                <a class="waves-effect waves-light btn-small"><i class="material-icons right">info</i>Analysis</a>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li>-->
<!--              <div class="collapsible-header"><i class="material-icons">persons</i>Martello D.T.</div>-->
<!--              <div class="collapsible-body">-->
<!--                <div>Duration: 0.5 — 1h</div>-->
<!--                <div>Starts at: 14.00</div>-->
<!--                <div>Ends at:15.00</div>-->
<!--                <a class="waves-effect waves-light btn-small"><i class="material-icons right">info</i>Analysis</a>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li>-->
<!--              <div class="collapsible-header"><i class="material-icons">persons</i>Toth S.F.</div>-->
<!--              <div class="collapsible-body">-->
<!--                <div>Duration: 0.5 — 1h</div>-->
<!--                <div>Starts at: 15.00</div>-->
<!--                <div>Ends at:16.00</div>-->
<!--                <a class="waves-effect waves-light btn-small"><i class="material-icons right">info</i>Analysis</a>-->
<!--              </div>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="collapsible-header"><i class="material-icons">schedule</i>ROOM A105</div>-->
<!--        <div class="collapsible-body">-->

<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->

  </div>

  <div class="col s8 schedule">
    <div class="col s12"></div>
    <div class="col s4">
      <a class="waves-effect waves-light btn green lighten-1"></a><span> Operation passed</span>
    </div>
    <div class="col s4">

      <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2"></a><span> Available day</span>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn orange accent-4"></a><span> Day assigned</span>
    </div>
    <table class="centered">
      <thead>
      <tr>
        <th>MON</th>
        <th>TUE</th>
        <th>WED</th>
        <th>THU</th>
        <th>FRI</th>
        <th>SAT</th>
        <th>SUN</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1">28.05 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">29.05 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1">30.05 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1">31.05 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1">1.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1">2.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">3.06 2018</a></td>
      </tr>
      <tr>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">4.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">5.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">6.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">7.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">8.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">9.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">10.06 2018</a></td>
      </tr>
      <tr>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">11.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn teal text-darken-5  lighten-2 z-depth-3">12.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">13.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">14.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">15.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">16.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">17.06 2018</a></td>
      </tr>
      <tr>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">18.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">19.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">20.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">21.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">22.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">23.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">24.06 2018</a></td>
      </tr>
      <tr>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">25.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">26.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">27.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">28.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">29.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">10.06 2018</a></td>
        <td class="operation-day__">
          <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2"> 1.07 2018</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('.tooltipped').tooltip();
        // $('.collapsible').collapsible();

        $('.green').click(markup_rooms_schedule);
        $('.orange').click(markup_rooms_schedule);
        $('.grey').click(function() {
            var string_date = $(this).text();
            var day = parseInt(string_date.split('.')[0]);
            var month = parseInt(string_date.split('.')[1].split(' ')[0]);
            var year = parseInt(string_date.split('.')[1].split(' ')[1]);
            date = new Date(year, month-1, day,0,0,0,0); // month is 0-based
            if(Date.now() < date){
                window.location = "/schedule/new";
            }
        });
    });
    
    function markup_rooms_schedule() {
        rooms_markup = generate_rooms_markup();
        $('.operation-day').html(rooms_markup);
        $('.collapsible').collapsible();
    }

    function generate_rooms_markup(){
        rooms_amount = Math.round(Math.random() * 3) + 2;
        $rooms_ul = $('<ul class="collapsible popout" />');
        for(var i = 0; i < rooms_amount; i++){
            r_name = "ROOM A" + (i+1);

            ops = generate_operations();
            $operations_ul = $('<ul class="collapsible" />');
            ops.forEach(function(op){
                op_markup = generate_operation_markup(op);
                $operations_ul.append(op_markup);
            });

            $room_collapsible_body_markup = $('<div class="collapsible-body" />').append($operations_ul);
            $room_collapsible_header_markup = $('<div class="collapsible-header"><i class="material-icons">schedule</i>'+r_name+'</div>');
            $room_markup = $('<li/>').append($room_collapsible_header_markup)
                                     .append($room_collapsible_body_markup);

            $rooms_ul.append($room_markup);
        }
        return $rooms_ul;
    }

    function generate_operations(){
        ops = [];
        var n = Math.ceil(Math.random() * 6) + 1;
        var starts_at = 9, ends_at = 9;
        for(i = 0; i < n; i++){
            var min = 0, max = 0;
            if(i < n-1){
                min = 8/n - Math.random();
                max = 8/n + Math.random();
                if(max < 0.5) max = 0.6;
            } else {
                min = ends_at;
                max = Math.ceil(ends_at);
            }
            processed_min = process_duration(min);
            processed_max = process_duration(max);

            if(i == 0) {
                starts_at = 9;
                ends_at = starts_at + processed_max;
            };
            if(i > 0){
                starts_at = ends_at;
                ends_at = starts_at + processed_max;
            }

            ops[i] = {
                min: processed_min,
                max: processed_max,
                starts_at: timeanize(starts_at),
                ends_at: timeanize(ends_at),
                fio: random_fio()
            };
        }
        ops.pop();
        return ops;
    }

    function timeanize(float_number){
        var splitted = float_number.toString().split('.');
        var minutes_part = '00';
        if(splitted[1] !== undefined){
            if(splitted[1] == '5') minutes_part = '30';
        }
        return splitted[0] + '.' + minutes_part;
    }

    function process_duration(float_number){
        splited_float_number = float_number.toString().split('.');
        left_part = splited_float_number[0];
        right_part = splited_float_number[1] || ["0"];
        result = left_part + ".";
        if( ["0", "1", "2", "3", "4"].includes(right_part[0])){
            result += "0"
        }else{
            result += "5"
        }
        return parseFloat(result);
    }

    function generate_operation_markup(op){
        fio = random_fio();
        return $([
            "<li>",
            "  <div class='collapsible-header'><i class='material-icons'>person</i>"+fio+"</div>",
            "  <div class='collapsible-body'>",
            "    <div>Duration: "+ op.min+" — " + op.max +"h</div>",
            "    <div>Starts at: " + op.starts_at + "</div>",
            "    <div>Ends at: " + op.ends_at + "</div>",
            "    <a class='waves-effect waves-light btn-small'><i class='material-icons right'>info</i>Analysis</a>",
            "  </div>",
            "</li>",
        ].join('\n'))[0];
    }

    function random_fio(){
        surnames = ['Abbott',
            'Acevedo',
            'Acosta',
            'Adams',
            'Adkins',
            'Aguilar',
            'Aguirre',
            'Albert',
            'Alexander',
            'Alford',
            'Allen',
            'Allison',
            'Alston',
            'Alvarado',
            'Alvarez',
            'Anderson',
            'Andrews',
            'Anthony',
            'Armstrong',
            'Arnold',
            'Ashley',
            'Atkins',
            'Atkinson',
            'Austin',
            'Avery',
            'Avila',
            'Ayala',
            'Ayers',
            'Bailey',
            'Baird',
            'Baker',
            'Baldwin',
            'Ball',
            'Ballard',
            'Banks',
            'Barber',
            'Barker',
            'Barlow',
            'Barnes',
            'Barnett',
            'Barr',
            'Barrera',
            'Barrett',
            'Barron',
            'Barry',
            'Bartlett',
            'Barton',
            'Bass',
            'Bates',
            'Battle',
            'Bauer',
            'Baxter',
            'Beach',
            'Bean',
            'Beard',
            'Beasley',
            'Beck',
            'Becker',
            'Bell',
            'Bender',
            'Benjamin',
            'Bennett',
            'Benson',
            'Bentley',
            'Benton',
            'Berg',
            'Berger',
            'Bernard',
            'Berry',
            'Best',
            'Bird',
            'Bishop',
            'Black',
            'Blackburn',
            'Blackwell',
            'Blair',
            'Blake',
            'Blanchard',
            'Blankenship',
            'Blevins',
            'Bolton',
            'Bond',
            'Bonner',
            'Booker',
            'Boone',
            'Booth',
            'Bowen',
            'Bowers',
            'Bowman',
            'Boyd',
            'Boyer',
            'Boyle',
            'Bradford',
            'Bradley',
            'Bradshaw',
            'Brady',
            'Branch',
            'Bray',
            'Brennan',
            'Brewer',
            'Bridges',
            'Briggs',
            'Bright',
            'Britt',
            'Brock',
            'Brooks',
            'Brown',
            'Browning',
            'Bruce',
            'Bryan',
            'Bryant',
            'Buchanan',
            'Buck',
            'Buckley',
            'Buckner',
            'Bullock',
            'Burch',
            'Burgess',
            'Burke',
            'Burks',
            'Burnett',
            'Burns',
            'Burris',
            'Burt',
            'Burton',
            'Bush',
            'Butler',
            'Byers',
            'Byrd',
            'Cabrera',
            'Cain',
            'Calderon',
            'Caldwell',
            'Calhoun',
            'Callahan',
            'Camacho',
            'Cameron',
            'Campbell',
            'Campos',
            'Cannon',
            'Cantrell',
            'Cantu',
            'Cardenas',
            'Carey',
            'Carlson',
            'Carney',
            'Carpenter',
            'Carr',
            'Carrillo',
            'Carroll',
            'Carson',
            'Carter',
            'Carver',
            'Case',
            'Casey',
            'Cash',
            'Castaneda',
            'Castillo',
            'Castro',
            'Cervantes',
            'Chambers',
            'Chan',
            'Chandler',
            'Chaney',
            'Chang',
            'Chapman',
            'Charles',
            'Chase',
            'Chavez',
            'Chen',
            'Cherry',
            'Christensen',
            'Christian',
            'Church',
            'Clark',
            'Clarke',
            'Clay',
            'Clayton',
            'Clements',
            'Clemons',
            'Cleveland',
            'Cline',
            'Cobb',
            'Cochran',
            'Coffey',
            'Cohen',
            'Cole',
            'Coleman',
            'Collier',
            'Collins',
            'Colon',
            'Combs',
            'Compton',
            'Conley',
            'Conner',
            'Conrad', 'Gilliam',
            'Gilmore',
            'Glass',
            'Glenn',
            'Glover',
            'Goff',
            'Golden',];
        names = ['N.',
            'A.',
            'T.',
            'B.',
            'B.',
            'E.',
            'L.',
            'K.',
            'S.',
            'G.',
            'R.',
            'R.'];
        n = Math.floor(Math.random() * names.length);
        s = Math.floor(Math.random() * surnames.length);
        m = Math.floor(Math.random() * names.length);
        return surnames[s] + " " + names[n] + names[m];
    }




</script>