<div class="row">
  <div class="col s4 operation-day">

    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">schedule</i>ROOM A101</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">schedule</i>ROOM A102</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">schedule</i>ROOM A103</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">schedule</i>ROOM A104</div>
        <div class="collapsible-body">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">person</i>Kovalchuk V.A.</div>
              <div class="collapsible-body">
                <div >Duration: 3 — 3.5h</div>
                <div>Starts at: 9.00</div>
                <div>Ends at:12.30</div>
                <a class="waves-effect waves-light btn-small"><i class="material-icons right">info</i>Analysis</a>
              </div>
            </li>

            <li>
              <div class="collapsible-header"><i class="material-icons">person</i>Miron L.V.</div>
              <div class="collapsible-body">
                <div >Duration: 1 — 1.5h</div>
                <div >Starts at: 12.30</div>
                <div >Ends at:14.00</div>
                <a class="waves-effect waves-light btn-small"><i class="material-icons right">info</i>Analysis</a>
              </div>
            </li>

            <li>
              <div class="collapsible-header"><i class="material-icons">persons</i>Martello D.T.</div>
              <div class="collapsible-body">
                <div >Duration: 0.5 — 1h</div>
                <div>Starts at: 14.00</div>
                <div>Ends at:15.00</div>
                <a class="waves-effect waves-light btn-small"><i class="material-icons right">info</i>Analysis</a>
              </div>
            </li>

            <li>
              <div class="collapsible-header"><i class="material-icons">persons</i>Toth S.F.</div>
              <div class="collapsible-body">
                <div>Duration: 0.5 — 1h</div>
                <div>Starts at: 15.00</div>
                <div>Ends at:16.00</div>
                <a class="waves-effect waves-light btn-small"><i class="material-icons right">info</i>Analysis</a>
              </div>
            </li>
          </ul>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">schedule</i>ROOM A105</div>
        <div class="collapsible-body">
          <table class="highlight">
            <thead>
            <tr>
              <th>Patient</th>
              <th>Duration</th>
              <th>Time</th>
              <!--          <th>Starts at</th>-->
              <!--          <th>Ends at</th>-->
            </tr>
            </thead>

            <tbody>
            <tr class="tooltipped" data-position="right" data-tooltip="Click to view information about operation">
              <td>Kovalchuk V.A.</td>
              <td>3 — 3.5h</td>
              <td>9.00 — 12.30</td>
            </tr>
            <tr>
              <td>Miron L.V.</td>
              <td>1 — 1.5h</td>
              <td>12.30 — 14.00</td>
            </tr>
            <tr>
              <td>Jobs L.A.</td>
              <td>0.5 — 1h</td>
              <td>14.00 — 15.00</td>
            </tr>
            <tr>
              <td>Martello D.T.</td>
              <td>0.5 — 1h</td>
              <td>14.00 — 15.00</td>
            </tr>
            <tr>
              <td>Toth S.F.</td>
              <td>0.5 — 1h</td>
              <td>14.00 — 15.00</td>
            </tr>
            <!--        <tr>-->
            <!--          <td>Kovalchuk V.A.</td>-->
            <!--          <td>3 — 3.5h</td>-->
            <!--          <td>9.00</td>-->
            <!--          <td>12.30</td>-->
            <!--        </tr>-->
            <!--        <tr>-->
            <!--          <td>Miron L.V.</td>-->
            <!--          <td>1 — 1.5h</td>-->
            <!--          <td>12.30</td>-->
            <!--          <td>14.00.</td>-->
            <!--        </tr>-->
            <!--        <tr>-->
            <!--          <td>Jobs L.A.</td>-->
            <!--          <td>0.5 — 1h</td>-->
            <!--          <td>14.00</td>-->
            <!--          <td>15.00</td>-->
            <!--        </tr>-->
            </tbody>
          </table>
        </div>
      </li>
    </ul>
<!--    <div class="col s12 operation-day__rooms-info">-->
<!--      <div>JUN 6, 2018</div>-->

<!--    </div>-->

    <div class="col s12"> </div>

    <div class="col s12 operation-day__room-operations-info">
      <div>Room A103</div>
      <table class="highlight">
        <thead>
        <tr>
          <th>Patient</th>
          <th>Duration</th>
          <th>Time</th>
<!--          <th>Starts at</th>-->
<!--          <th>Ends at</th>-->
        </tr>
        </thead>

        <tbody>
        <tr class="tooltipped" data-position="right" data-tooltip="Click to view information about operation">
          <td>Kovalchuk V.A.</td>
          <td>3 — 3.5h</td>
          <td>9.00 — 12.30</td>
        </tr>
        <tr>
          <td>Miron L.V.</td>
          <td>1 — 1.5h</td>
          <td>12.30 — 14.00</td>
        </tr>
        <tr>
          <td>Jobs L.A.</td>
          <td>0.5 — 1h</td>
          <td>14.00 — 15.00</td>
        </tr>
        <tr>
          <td>Martello D.T.</td>
          <td>0.5 — 1h</td>
          <td>14.00 — 15.00</td>
        </tr>
        <tr>
          <td>Toth S.F.</td>
          <td>0.5 — 1h</td>
          <td>14.00 — 15.00</td>
        </tr>
<!--        <tr>-->
<!--          <td>Kovalchuk V.A.</td>-->
<!--          <td>3 — 3.5h</td>-->
<!--          <td>9.00</td>-->
<!--          <td>12.30</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>Miron L.V.</td>-->
<!--          <td>1 — 1.5h</td>-->
<!--          <td>12.30</td>-->
<!--          <td>14.00.</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>Jobs L.A.</td>-->
<!--          <td>0.5 — 1h</td>-->
<!--          <td>14.00</td>-->
<!--          <td>15.00</td>-->
<!--        </tr>-->
        </tbody>
      </table>
    </div>

  </div>

  <div class="col s8 schedule">
    <div class="col s12"></div>
    <div class="col s4">
      <a class="waves-effect waves-light btn green lighten-1"></a><span> Operation passed</span>
    </div>
    <div class="col s4">

      <a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2"></a><span> Available day</span>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn orange accent-4"></a><span> Day assigned</span>
    </div>
    <table class="centered">
      <thead>
      <tr>
        <th>MON</th>
        <th>TUE</th>
        <th>WED</th>
        <th>THU</th>
        <th>FRI</th>
        <th>SAT</th>
        <th>SUN</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1">28.05 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">29.05 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1">30.05 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1">31.05 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1">1.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1">2.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">3.06 2018</a></td>
      </tr>
      <tr>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4" >4.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">5.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">6.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">7.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">8.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">9.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">10.06 2018</a></td>
      </tr>
      <tr>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">11.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">12.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">13.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">14.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">15.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">16.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4">17.06 2018</a></td>
      </tr>
      <tr>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">18.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">19.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">20.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">21.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">22.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">23.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">24.06 2018</a></td>
      </tr>
      <tr>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">25.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">26.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">27.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">28.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">29.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2">10.06 2018</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey blue-text text-darken-5  lighten-2"> 1.07 2018</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.tooltipped').tooltip();
        $('.collapsible').collapsible();
    });
</script>