here goes Show Schedule
<div class="row">

  <div class="col s3 operation-day">

    <div class="col s12 operation-day__rooms-info">
      here goes operation day rooms
    </div>

    <div class="col s12 operation-day__room-operations-info">
      here goes room operations info
    </div>

  </div>

  <div class="col s9 schedule">
    Here goes schedule
    <a class="waves-effect waves-light btn green lighten-1">operations created</a>
    <a class="waves-effect waves-light btn grey lighten-2">operations passed</a>
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    <a class="waves-effect waves-light btn orange accent-4">operation days free</a>
    <table class="centered">
      <thead>
      <tr>
        <th></th>
        <th>MON</th>
        <th>TUE</th>
        <th>WED</th>
        <th>THU</th>
        <th>FRI</th>
        <th>SAT</th>
        <th>SUN</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Aug 10, 2018 </td>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1" style="font-size: 50px">+</a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey lighten-2"></a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey lighten-2"></a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn grey lighten-2"></a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn green lighten-1"></a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4"></a></td>
        <td class="operation-day__"><a class="waves-effect waves-light btn orange accent-4"></a></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>