<nav>
  <div class="nav-wrapper teal lighten-2">
    <a href="#" class="brand-logo">Faith</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Profile", profile_index_path%></li>
      <% if current_profile.doctor? %>
        <li><%= link_to "Add analysis", new_analysis_path%></li>
        <li><%= link_to "Generate schedule", new_schedule_path%></li>
      <% end %>
      <li><%= link_to "Logout", destroy_profile_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>