<% notice_msg ||= nil %>

<!--<div class="row">-->
<!--  <div class="col s12">-->
    <% if notice_msg %>
      <div class="card-panel blue lighten-2">
        <span class="white-text"><%= notice_msg %></span>
      </div>
    <% end %>
<!--  </div>-->
<!--</div>-->