"<div class='card blue-grey darken-1'>",
"  <div class='card-content white-text'>",
"    <span class='card-title'>Room 2</span>",
"    <div class='input-field'>",
"      <input placeholder='' id='room1' type='text' class='validate'>",
"      <label for='room1'>Room name</label>",
"    </div>",
"    <div class='input-field'>",
"      <textarea id='textarea-room1' class='materialize-textarea'></textarea>",
"      <label for='textarea-room1'>Room information</label>",
"    </div>",
"    <div class='input-field'>",
"      <input placeholder='' id='capacity-room1' type='text' class='validate'>",
"      <label for='capacity-room1'>Room capacity</label>",
"    </div>",
"  </div>",
"  <div class='card-action'>",
"    <a href='#'>Remove room</a>",
"  </div>",
"</div>",